body {
    background-color: #ADD8E6; 
    font-family: sans-serif, Arial, Helvetica; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}

h1{
    font-size: 2em; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em; 
} 
fieldset {
    background-color: #B0C4DE; 
    border: none; 
    border-radius: 10px; 
    width: 300px;
    padding: 3em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15); 
}

legend{ 
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 1em;
    border: 1px solid #222831;
    border-radius: 5px;
    margin-bottom: 1em;
}
input[type="text"],
input[type="password"] {
    font-family: inherit; 
    background-color: #B0C4DE; 
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 15px;
    border: 1px solid #222831; 
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus{
    border-color: #222831; 
    outline: none; 
}
a{
    color: #222831;
    text-decoration: none; 
} 
a:hover, a:focus {
    color: #222831;
    opacity: 0.9; 
}
button{
    background-color:#B0C4DE; 
    color: #222831;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:#222831 ; 
    color: white;
  }
  
  button:active {
    background-color: #222831; 
  }
  